@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

a{
  text-decoration: none;
  font-weight: 1000;
}

input, textarea{
  border:1px solid rgb(0, 255, 76);
  border-radius:10px;      /* Kenarlardaki ovalligi sağlar */
  padding: 10px;          /* input ve textareadaki kenarlardaki boşlugu azıcık büyütecek */
}

button{
  border: 3px solid rgb(60, 163, 34);
  border-radius: 10px;
  padding: 10px 30px ;
  background-color: rgb(0, 255, 76);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;  /* aralarını olabildigince açacak   */
  align-items: center;
  background-color: rgba(56, 236, 20, 0.733);
  padding: 15px 50px;
  border-radius: 80px;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content h2 span,
.header span {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: cornflowerblue;
}

.content h1 {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px;
}

.content h {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content .about {
  display: flex;   /*  yanyana gelsin, dizilimini degiştirdim  */
  justify-content: center;
  width: 100%;
}

.content .about img {
  width: 450px;
  height: 450px;
  border-radius: 250px;
  border: 15px solid rgba(55, 223, 22, 0.733);
}

.content .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 5px;
}

.content .toolbar {
  display: flex;
  gap: 20px;
}

.content .toolbar a {
  background-color: rgba(55, 223, 22, 0.733);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;      /* flex yap yatayda ve dikeyde ortala dedik */
  justify-content: center;
  align-items: center;
  font-weight: 800px;
  box-shadow: 3px 3px 8px coral;
}

.section {
  width: 60%;
}

.section .card {
  display: flex;
  border: 1px solid rgb(167, 235, 150);
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 50px;
}

.section .card .left {
  flex: 2;
}

.section .card .right {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px dotted gray;
}
