@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 25px;
  font-size: 25px;
}

a {
  text-decoration: none;
  font-weight: 500;
}

input,
textarea {
  border: 3px solid rgb(0, 153, 255);
  border-radius: 10px;
  padding: 15px;
}

button {
  border: 3px solid rgb(179, 47, 255);
  border-radius: 10px;
  padding: 15px 40px;
  background-color: rgb(30, 243, 76);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chartreuse;
  padding: 20px;
  border-radius: 60px;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content h2 span,
.header span {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: cornflowerblue;
}

.content h1 {
  display: flex;
}

.content {
  display: flex;
  justify-content: center;
  padding: 90px;
}

.content h {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content .about {
  display: flex;
  justify-content: center;
  width: 70%;
}

.content .about img {
  width: 400px;
  height: 400px;
  border-radius: 250px;
  border: 15px solid rgb(0, 119, 128);
}

.content .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.content .toolbar {
  display: flex;
  gap: 20px;
}

.content .toolbar a {
  background-color: chartreuse;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600px;
  box-shadow: 3px 3px 8px coral;
}

.section {
  width: 60%;
}

.section .card {
  display: flex;
  border: 1px solid rgb(167, 235, 150);
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 50px;
}

.section .card .left {
  flex: 2;
}

.section .card .right {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px dotted gray;
}
